# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs
*.log
logs/
debug.log
*.tmp

# System files
.DS_Store
Thumbs.db
